/* CSS Document */


/* 全体クラス */

body {
	font: 100%/1.4 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	background-image: url(tex/1.jpg);
	margin: 0;
	padding: 0;
	color: #000;
}


/* レイアウトクラス */

.container {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.copyright {
	width: 960px;
	height: 15px;
	font-size: 10px;
	background-color: #808080;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
}
ul{
	margin-top:0px;
}
.header {
	width: 980px;
	height: 180px;
}
.menu {
	width: 150px;
	height: 30px;
	float: left;
}
.menu-margin{
	width: 190px;
	height: 30px;
	float: left;
}
a:link {
	color: #808080;
	text-decoration: underline;
}
a:visited {
	color: #808080;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
a:hover {
	color: #e12885;
}